header {
    width: 80%;
    height: 10%;
    background-color: white;
    position: fixed;
    top: 0%;
    right: 0%;
    box-shadow: 3px 3px 3px gray;
    background-attachment: fixed;
    z-index: 100;
}

.main {
    position: absolute;
    top: 5%;
    left: 3%;
    color: #55595D;
}

nav {
    background-color: #BCCCDC;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    background-attachment: fixed;

}

nav>.profiles {
    width: 35%;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
}

nav>.number {
    position: absolute;
    left: 50%;
    top: 6%;
    color: white;
}

nav>.name {
    position: absolute;
    left: 50%;
    top: 9%;
    font-size: larger;
    color: white;
}

nav > .mypage_nav {
    height: 7%;
    width: 90%;
    background-color: #BCCCDC;
    color: white;
    position: absolute;
    top: 30%;
    left: 10%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
}

nav > .first{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 38%;
    left: 5%;
    margin: 0%;
}

nav > .log_nav {
    height: 7%;
    width: 90%;
    background-color: #BCCCDC;
    color: white;
    position: absolute;
    top: 39%;
    left: 10%;
    border: none;
    font-size: 20px;
    cursor: pointer;
    text-align: left;
}

nav > .two{
    width: 90%;
    left: 5%;
    background:white;
    height:1px;
    border:0;
    position: absolute;
    top: 47%;
    left: 5%;
    margin: 0%;
    z-index: 5;
}

nav > .community_nav {
    height: 7%;
    width: 90%;
    background-color: #BCCCDC;
    color: #575e65;
    position: absolute;
    top: 48%;
    left: 10%;
    border: none;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
}

nav>.three {
    width: 90%;
    position: absolute;
    bottom: 10%;
    left: 5%;
    background: white;
    height: 1px;
    border: 0;
}

.logout {
    width: 7%;
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: white;
    cursor: pointer;
    border: none;
    background-color: #BCCCDC;
    font-size: larger;
    text-align: left;
}

.container{
    width: 80%;
    height: 90%;
    position: absolute;
    top: 10%;
    left: 20%;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin-left: 5%;
    margin-top: 3%;
}

/*이중선 제거*/
th,
td {
    
    padding-top: 2%;
    padding-bottom: 2%;
    border-top: 1px solid #55595D;
    border-bottom: 1px solid #55595D;

    vertical-align: top;
    /* 위 */
    vertical-align: bottom;
    /* 아래 */
    vertical-align: middle;
    /* 가운데 */

    text-align: center;
    color: #55595D;

    
}

table tr:not(:first-child):hover {    
    background-color: #dae6f3;
}