* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    background-color: white;
}

.login {
    width: 50%;
    position: absolute;
    top: 20%;
}

.login-wrapper{
    width: 30%;
    height: 38%;
    margin: 1%;
    background-color: #BCCCDC;
    padding: 2%;
    border-radius: 15px;
    position: absolute;
    top: 25%;
    right: 10%;
}

label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

h2{
    color: white;
}

.id {
    width: 91%;
    height: 48px;
    margin-top: 5%;
    border-radius: 10px;
    padding-left: 5%;
    background-color: white;
}

.password {
    width: 91%;
    height: 48px;
    margin-top: 4%;
    border-radius: 10px;
    padding-left: 5%;
    background-color: white;
}

.remember-check{
    margin-top: 1%;
    border-radius: 10px;
    padding-left: 2%;
    font-size: 15px;
    color: white;
}

.sumit {
    width: 97%;
    height: 51px;
    margin-top: 4%;
    border-radius: 10px;
    background-color: #d1e4fb;
    font-size: 25px;
    color: black;
    cursor: pointer;
}

.signup {
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin-top: 1%;
}

img {
    width: 30%;
    height: auto;
    position: absolute;
    bottom: 0%;
    left: 10%;
}