<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
<link href="/css/community_stu.css" rel="stylesheet">
</head>
<header>
    <h2 class="main">게시판</h2>
</header>

<nav>
    <img class="profiles" src="/img/simple.png">
    <p class="number">10313</p>
    <p class="name">이시은</p>

    <a class="mypage_nav" href="/template/mainpage_stu.html">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/template/log_stu.html">상벌점 내역</a>
    <hr class="two">
    <a class="community_nav" href="/template/community_stu.html">게시판</a>

    <hr class="three">
    <button class="logout">logout</button>
</nav>

<body>
    <div class="log">
        <div class="list">
            <p class="number">번호</p>
            <p class="title">제목</p>
            <p class="who">작성자</p>
            <p class="date">작성일</p>
        </div>
        <div class="logs">
            <p class="number_">1</p>
            <p class="title_">화장실 봉사활동 구함</p>
            <p class="who_">이영빈</p>
            <p class="date_">2025.56.15</p>
            <button onClick="location.href='community_stu2.html'">자세히보기</button>
        </div>
        
    </div>
</body>

</html>