<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link href="/css/community_stu2.css" rel="stylesheet">
</head>
<header>
    <h2 class="main">게시판</h2>
</header>

<nav>
    <img class="profiles" src="/img/simple.png">
    <p class="number">10313</p>
    <p class="name">이시은</p>

    <a class="mypage_nav" href="/template/mainpage_stu.html">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/template/log_stu.html">상벌점 내역</a>
    <hr class="two">
    <a class="community_nav" href="/template/community_stu.html">게시판</a>

    <hr class="three">
    <button class="logout">logout</button>
</nav>

<body>
    <div class="title_box">
        <h2 class="title">제목 : </h2>
        <h2 class="title_">학과 사무실 청소</h2>
    </div>

    <div class="writer_box">
        <h2 class="writer">작성자 : </h2>
        <h2 class="writer_">이영빈</h2>
    </div>

    <p class="date">작성일시 : 2025.22.15</p>

    <div class="text_box">
        <p>구해요~</p>
    </div>

    <input type="text" placeholder="신청 댓글을 입력해주세요. 비방댓글이나 모욕댓글은 즉시 처벌이 있을 수 있습니다.">
    <button class="sumit">전송</button>
</body>