<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상벌점 내역</title>
    <link href="/css/log_stu.css" rel="stylesheet">
</head>
<header>
    <h2 class="main">상벌점 내역</h2>
</header>

<nav>
    <img class="profiles" src="/img/simple.png">
    <p class="number">10313</p>
    <p class="name">이시은</p>

    <a class="mypage_nav" href="/template/mainpage_stu.html">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/template/log_stu.html">상벌점 내역</a>
    <hr class="two">
    <a class="community_nav" href="/template/community_stu.html">게시판</a>

    <hr class="three">
    <button class="logout">logout</button>
</nav>

<body>
    <div class="log">
        <div class="list">
            <p class="date">날짜</p>
            <p class="reason">사유</p>
            <p class="score">상벌점</p>
            <p class="teacher">교사명</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>
        <div class="logs">
            <p class="date_">2025.05.26</p>
            <p class="reason_">넘모 잘함</p>
            <p class="score_">25</p>
            <p class="teacher_">홍창기</p>
        </div>

    </div>
</body>

</html>