<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상벌점 내역</title>
    <link href="/css/log_stu.css" rel="stylesheet">
</head>
<header>
    <h2 class="main">상벌점 내역</h2>
</header>

<nav>
    <img class="profiles" src="/img/simple.png">
    <p class="number">10313</p>
    <p class="name">이시은</p>

    <button class="mypage_nav" onClick="location.href='mainpage_stu.html'">마이페이지</button>
    <hr class="first">
    <button class="log_nav" onClick="location.href='log_stu.html'">상벌점 내역</button>
    <hr class="two">
    <button class="community_nav" onClick="location.href='community_stu.html'">게시판</button>

    <hr class="three">
    <button class="logout">logout</button>
</nav>

<body>
    <div class="log">
        <table>
            <tr>
                <th scope="list">날짜</td>
                <th scope="list">사유</td>
                <th scope="list">해당 상벌점</td>
                <th scope="list">교사명</td>
            </tr>

            <tr class="main-row">
                <td>2025-05-08</td>
                <td>칭찬</td>
                <td>+10</td>
                <td>최선생</td>
            </tr>
            <tr class="dropdown-row" style="display: none;">
                <td colspan="6">
                    사유 적는칸~
                    <br>
                    뭔 말알?
                </td>
            </tr>

        </table>
    </div>
    <script src="/js/log_stu.js"></script>
</body>


</html>