<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상벌점 내역</title>
    <link href="/css/log_stu.css" rel="stylesheet">
</head>
<header>
    <h2 class="main">상벌점 내역</h2>
</header>

<nav>
    <img class="profiles" src="/img/simple.png">
    <p class="number">10313</p>
    <p class="name">이시은</p>

    <a class="mypage_nav" href="/template/mainpage_stu.html">마이페이지</a>
    <hr class="first">
    <a class="log_nav" href="/template/log_stu.html">상벌점 내역</a>
    <hr class="two">
    <a class="community_nav" href="/template/community_stu.html">게시판</a>

    <hr class="three">
    <button class="logout">logout</button>
</nav>

<body>
    <div class="log">
        <table>
            <tr>
                <th scope="list">날짜</td>
                <th scope="list">사유</td>
                <th scope="list">해당 상벌점</td>
                <th scope="list">교사명</td>
            </tr>
            <tr>
                <td>2025.23.56</td>
                <td>내가 넘ㅁ모 기특</td>
                <td>123점</td>
                <td>123456</td>
            </tr>
            


        </table>
    </div>
</body>

</html>