<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link href="/css/login.css" rel="stylesheet">
</head>

<body>
    <img src="" alt="">
    <div class="login-wrapper">
        <h2>Login</h2>
        

        <form method="post" action="서버의url" id="login-form">
            <input class="id" type="text" placeholder="아이디를 작성해주세요">

            <input class="password" type="password" placeholder="비밀번호를 작성해주세요">

            <label class="remember-check">
                <input type="checkbox" class="remember-check"> 아이디 저장하기
            </label>

            <button class="sumit" onClick="location.href='#'">Login</button>
            <a class="signup" href="/template/signup_stu.html">아직 계정이 없으신가요?</a>
        </form>
    </div>
</body>

</html>