<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link href="/css/signup.css" rel="stylesheet">
</head>

<body>
    <img src="/img/teacher.png" alt="">
    <div class="signup-wrapper">
        <h2>signup</h2>
        <form method="post" action="서버의url" id="login-form">

            

            <input class="name" type="text" placeholder="이름을 작성해주세요">

            <input class="id" type="text" placeholder="아이디를 작성해주세요" >

            <input class="password" type="password" placeholder="비밀번호를 작성해주세요">

            <input class="check_code" type="text" placeholder= "확인 코드를 작성해주세요 관리자에게 승인될 때 필요합니다.">

            <button class="sumit" onClick="location.href='#'">Signup</button>
            <a class="login" href="/template/login_stu.html"> <br> 로그인으로 돌아가기</a>
        </form>
    </div>
</body>

</html>