<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/who.css" rel="stylesheet">
    <title>who</title>
</head>

<body>
    <div class="buttons">
        <button class="teacher" onClick="location.href='login_teacher.html'">
            <img src="/img/teacher.png">
            <p class="teacher_">선생님</p>
        </button>

        <button class="student" onClick="location.href='login_stu.html'">
            <img src="/img/students.png">
            <p class="student_">학생</p>
    </div>
    </div>
</body>

</html>